@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');      
:root
{
    --crm-primary:#1b296a;
    --crm-secondary:#ed6840;
    --body-bg:#F5F5F5;
    --cream:#F0E7E2;
    --light-cream:#F5EEEB;
    --light-grey:#F5F6F9;
    --bg-inactive:#e3e3e3;
    --body-cl:#111111;
    --txt-inactive:#8b8b8b;
    --titre-police:'Montserrat',sans-serif;
    --texte-courant:'Sarabun',sans-serif;
}
/* style Tableaux*/
table
{
    border-collapse: collapse;
    table-layout: fixed;
}
th:last-child
{
    width: 150px;
}
th,td
{
    border: 2px solid #000;
}

/*Tableau Couleur*/
.PaletteCouleurs tbody tr:first-child td:first-child
{
    color: #fff;
    background-color: var(--crm-primary);
}
.PaletteCouleurs tbody tr:nth-child(2) td:first-child
{
    color: #fff;
    background-color: var(--crm-secondary);
}
.PaletteCouleurs tbody tr:nth-child(3) td:first-child
{
    background-color: var(--body-bg);
}
.PaletteCouleurs tbody tr:nth-child(4) td:first-child
{
    background-color: var(--cream);
}
.PaletteCouleurs tbody tr:nth-child(5) td:first-child
{
    background-color: var(--light-cream);
}
.PaletteCouleurs tbody tr:nth-child(6) td:first-child
{
    color: var(--crm-primary);
    background-color: var(--light-grey);
}
.PaletteCouleurs tbody tr:nth-child(7) td:first-child
{
    color: var(--txt-inactive);
    background-color: var(--bg-inactive);
}
.PaletteCouleurs tbody tr:last-child td:first-child
{
   background-color: var(--txt-inactive);
}

/* Tableau Typographie*/
.Typographie tbody tr:first-child td:last-child
{   
    font-family: var(--titre-police);
    font-size: 1.5rem;
    font-weight: bold;
}
.Typographie tbody tr:last-child td:last-child
{
    font-family: var(--texte-courant);
}
/* Composant Nav */
.composants__Nav
{
    width: 400px;
    height: 55px;
    border: 2px solid #00000026;
    border-radius: 50px;
    background-color: var(--light-grey);
}
.composants__Nav ul
{
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    justify-content: space-evenly;
}
.composants__Nav img
{
   size: absolute;
}
.composants__Nav li
{
    display: flex;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.composants__Nav--listes:hover
{
    cursor: pointer;
    background-color: var(--crm-secondary);
}
.composants__Nav--listes:hover img
{
    filter: invert(17%) sepia(45%) saturate(1914%)
            hue-rotate(201deg) brightness(87%) contrast(101%);
}
/* Composants bouton tag*/
.Bouton__tag
{
    cursor: pointer;
    border: none;
    width: fit-content;
    height: 47px;
    padding: 0 15px;
    border-radius: 69px;
}
.Bouton__tag.inactive
{
    color: var(--txt-inactive);
    background-color: var(--bg-inactive);
}
.Bouton__tag.idle
{
    color: black;
    background-color: var(--light-grey);
}
.Bouton__tag.active
{
    color: #fff;
    background-color: var(--crm-secondary);
}
.cards
{
    width: 124px;
    height: 170px;
    border-radius: 10px;
    background-color:var(--light-grey);
    box-shadow:0px 4px 4px rgba(00, 00, 00, 0.2);
    display: flex;
    flex-direction: column;
}
.cards h4
{
    margin: 0;
    font-weight: normal;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 1px;
}
.cards p
{
    margin: 0;
    color: var(--crm-primary);
    text-align: center;
    font-weight: bolder;
}
.cards img{
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 4px;
    border-radius: 6px;
    object-fit: cover;
    height: 102px;
    width: 102px;
    order: -2;
}


/* bouton */
.boutonSansImgB,.boutonSansImgO
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom:10px ;
}
.bouton__sansImg
{
    width: 250px;
    box-sizing: border-box;
    height: 44px;
    border-radius: 25px;
    border: none;
    isolation: isolate;
    position: relative;
    font-weight: 600;
    text-align: center;
    color: var(--body-bg);
}
.bouton__sansImg__defaultB
{
    background-color: var(--crm-primary);
}
.bouton__sansImg__inactiveB::before,.bouton__sansImg__inactiveO::before
{
    display: block;
    content: "";
    border-radius: 25px;
    position: absolute;
    inset: 0;
    background-color: var(--light-grey);
    opacity: 0.3;
    mix-blend-mode: lighten;
}
.bouton__sansImg__inactiveB
{
    background-color: var(--crm-primary);
}
.bouton__sansImg__hoverB::before,.bouton__sansImg__hoverO::before,.bouton__sansImg__activeB::before,.bouton__sansImg__activeO::before
{
    display: block;
    content: "";
    border-radius: 25px;
    position: absolute;
    inset: 0;
    opacity: 0.2;
    background-color: var(--body-cl);
    mix-blend-mode: overlay;
}
.bouton__sansImg__hoverB,.bouton__sansImg__hoverO
{
    background-color: var(--crm-primary);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.bouton__sansImg__activeB,.bouton__sansImg__activeO
{
    background-color: var(--crm-primary);
    border: 3px solid rgba(0, 0, 0, 0.5);
}
.bouton__sansImg__defaultO,.bouton__sansImg__inactiveO,.bouton__sansImg__hoverO,.bouton__sansImg__activeO
{
    background-color: var(--crm-secondary);
}

