:root {
    ---primary-color: #1B296A;
    --secondary-color: #ED6840;
    --desaturated-light: #F5F6F9;
    --desaturated-dark: #DCDFE9;
    --warm-light: #F5EEEB;
    --warm-dark: #F0E7E2;
    --nav-color: #000;
}

 .primary,
 .secondary,
 .d-light,
 .d-dark,
 .w-light,
 .w-dark {
    border-radius: 50%;
    width: 50px;
    height: 50px;
 }

 .primary {
    background-color: var(---primary-color);
 }

 .secondary {
    background-color: var(--secondary-color);
 }

 .d-light {
    background-color: var(--desaturated-light);
 }

 .d-dark {
    background-color: var(--desaturated-dark);
 }

 .w-light {
    background-color: var(--warm-light);
 }

 .w-dark {
    background-color: var(--warm-dark);
 }

 .home-btn {
    position: absolute;
    background-color: aqua;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    bottom: 0;
    right: 0;
 }

 /* .boutons {

 } */

 .nav-carroussel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0;
    padding: 0; */
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    background-color: var(--desaturated-dark);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: 0.1px solid #c6c8d1;
    /* background-image: url(../img/kit/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: ; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
 }

.nav-carroussel img {
    width: 18px;
    margin: auto;
}
