@use "../abstracts/_variables" as *

body, input, button
    background-color: palette_couleur(light, secondary-warm-dark)
    font-family: police(body)

main
    display: flex
    flex-direction: column
    align-items: center
    
    > section
        width: 75%


section
    background-color: palette_couleur(light, secondary-warm-light)
    margin: 1rem 0 1rem 0

//TODO, nice idea, bad execution: FIX ME
main    
    >section
        > h1, > h2, > h3, > h4
        padding: 2rem 1rem 2rem 1rem
        font-family: police(titre)

section
    section
        > h1, > h2, > h3 
            margin-left: 1rem

        > h4
            margin-left: 2rem
a
    color: palette_couleur(light, accent)
    font-weight: 500

.police
    
    &--dyslexic
        font-family: police(dyslexic)

    &--body
        font-family: police(body)
