
// ╭─╮╭─╮╷  ╭─╴╶┬╴╶┬╴╭─╴   ╭╮ ╭─╮╷ ╷╶┬╴╭─╴
// ├─╯├─┤│  ├╴  │  │ ├╴    ├┴╮├┬╯│ │ │ ├╴ 
// ╵  ╵ ╵╰─╴╰─╴ ╵  ╵ ╰─╴   ╰─╯╵╰╴╰─╯ ╵ ╰─╴

//#### CRM
//Logo
$crm-bleu:      #1B296A
$crm-orange:    #ED6840
//Complémentaires
$crm-mecenat:								#488287
$crm-service-aux-entreprises:				#F6AF2E
$crm-orientation-formation-pro:				#7DB9DA
$crm-medecine-physique-readaptation:		#CF2F4F

//ActionEvents
$AE-crm-error:		#D32F2F
$AE-crm-warning:	#E67E22
$AE-crm-info:		#0288D1
$AE-crm-sucess:		#2E7D32

// other
$bg-light-cream:    #F0E7E2
$bg-thick-cream:    #F5EEEB
$bg-light-grey:     #F5F6F9
$bg-grey:           #DCDFE9
$bg-body:           #F5F5F5
$bg-surface:        #FFFFFF