
// sont fait pour être utilisés en min-width
// nous développons en mobile-first: breakpoint telephone enclenché par défaut.
$breakpoint-tablette:       768px
$breakpoint-desktop:        1024px
$breakpoint-desktop-large:  1280px
$breakpoint-desktop-XXL:    1600px