@use "../base/_palette_couleurs" as *
@use "sass:map";

@function police($nom)
  @if map.has-key($polices_ecriture, $nom)
    @return map.get($polices_ecriture, $nom);
  @error "La police '#{$nom}' n'existe pas dans la map $polices_ecriture.";

//renvois la police parmis les polices
//usage: police()
$polices_ecriture:
(
	titre:      ('Montserrat', sans-serif),
	body:       ('Sarabun', sans-serif),
	dyslexic:   ("OpenDyslexic", sans-serif),
)


// ╭─╮╭─╮╷  ╭─╴╶┬╴╶┬╴╭─╴   ╭─╮╷╶┬╴╭─╴
// ├─╯├─┤│  ├╴  │  │ ├╴    ╰─╮│ │ ├╴ 
// ╵  ╵ ╵╰─╴╰─╴ ╵  ╵ ╰─╴   ╰─╯╵ ╵ ╰─╴

$font-light: 	#FFFFFF
$font-dark:		#000000

// ────────────────────────────────────────────────────
// FONCTION
// ────────────────────────────────────────────────────
//renvois une couleur parmis un theme 
//usage: couleur_palette(<light|dark|action>, <color>)
@function palette_couleur($type, $nom)
    @if map.has-key($palette_couleurs, $type)
        $theme-map: map.get($palette_couleurs, $type)
        @if map.has-key($theme-map, $nom)
            $color-map: map.get($theme-map, $nom)
            @return map.get($color-map, color)
        @error "La couleur '#{$nom}' n'existe pas dans le thème '#{$type}'."
    @error "Le type '#{$type}' n'existe pas. Utilisez 'light', 'dark' ou 'action'."

// ────────────────────────────────────────────────────
// FONCTION
// ────────────────────────────────────────────────────
//renvois le paquet de données d'une couleur (contenant: color, description, txt-color)  
//usage: couleur_palette(<light|dark|actions>, <color>)
@function palette_data($theme, $nom)
    @if not map.has-key($palette_couleurs, $theme)
        @error "Le thème '#{$theme}' n'existe pas. Utilisez 'light', 'dark' ou 'actions'."
    $theme-map: map.get($palette_couleurs, $theme)
    @if not map.has-key($theme-map, $nom)
        @error "La couleur '#{$nom}' n'existe pas dans le thème '#{$theme}'."
    @return map.get($theme-map, $nom)

// ────────────────────────────────────────────────────
// MAP DE DONNEES
// ────────────────────────────────────────────────────
// ─────────────────────────────────────
// THEMES
// ─────────────────────────────────────
//TODO: CHECK ME, DO DARK

$light:
(
    primary:
    (
        color:			$crm-orange,
        description:	"Orange CRM",
        txt-color:		$font-light,
    ),
    accent:
    (
        color:			$crm-bleu,
        description:	"Bleu CRM",
        txt-color:		$font-light,
    ),
    secondary-neutral-light:
    (
        color:			$bg-light-grey,
        description:	"Fond neutre clair",
        txt-color:		$font-dark,
    ),
    secondary-neutral-dark:
    (
        color:			$bg-grey,
        description:	"Fond neutre foncé",
        txt-color:		$font-dark,
    ),
    secondary-warm-light:
    (
        color:			$bg-thick-cream,
        description:	"Fond chaud clair",
        txt-color:		$font-dark,
    ),
    secondary-warm-dark:
    (
        color:			$bg-light-cream,
        description:	"Fond chaud foncé",
        txt-color:		$font-dark,
    )
)

$dark:
(
    primary:
    (
        color:			$crm-orange,
        description:	"Orange CRM",
        txt-color:		$font-light,
    ),
    accent:
    (
        color:			$crm-bleu,
        description:	"Bleu CRM",
        txt-color:		$font-light,
    ),
    secondary-neutral-light:
    (
        color:			$bg-light-grey,
        description:	"Fond neutre - clair",
        txt-color:		$font-dark,
    ),
    secondary-neutral-dark:
    (
        color:			$bg-grey,
        description:	"Fond neutre - Foncé",
        txt-color:		$font-dark,
    ),
    secondary-warm-light:
    (
        color:			$bg-thick-cream,
        description:	"Fond chaud - clair",
        txt-color:		$font-dark,
    ),
    secondary-warm-dark:
    (
        color:			$bg-light-cream,
        description:	"Fond chaud - foncé",
        txt-color:		$font-dark,
    )
)

// ─────────────────────────────────────
// ACTIONS
// ─────────────────────────────────────
$actions:
(
	error:
	(
		color:			$AE-crm-error,
		description:	"ActionEvent erreur",
		txt-color:		$font-light,
	),
	warning:
	(
		color:			$AE-crm-warning,
		description:	"ActionEvent warning",
		txt-color:		$font-light,
	),
	info:
	(
		color:			$AE-crm-info,
		description:	"ActionEvent info",
		txt-color:		$font-light,
	),
	success:
	(	
		color:			$AE-crm-sucess,
		description:	"ActionEvent succès",
		txt-color:		$font-light,
	),
)

// ─────────────────────────────────────
// PALETTE
// ─────────────────────────────────────
$palette_couleurs:
(
    light:      $light,
    dark:       $dark,
    actions:    $actions,
)

