@use "../base/_palette_couleurs" as *
    
$txt-crm-header:    Georgia, serif
$txt-crm-body:      Verandana, sans-serif
$txt-crm-dys:       "OpenDyslexic", sans-serif

// ╭─╮╭─╮╷  ╭─╴╶┬╴╶┬╴╭─╴   ╭─╮╷╶┬╴╭─╴
// ├─╯├─┤│  ├╴  │  │ ├╴    ╰─╮│ │ ├╴ 
// ╵  ╵ ╵╰─╴╰─╴ ╵  ╵ ╰─╴   ╰─╯╵ ╵ ╰─╴
//$couleur-principale:

$couleur-secondaire-1: $crm-bleu
$couleur-secondaire-2: $crm-orange

//$couleur-accent-1:
//$couleur-accent-2:

$AE-error:		$AE-crm-error
$AE-warning:	$AE-crm-warning
$AE-info:		$AE-crm-info
$AE-sucess:		$AE-crm-sucess