@use "../base/_palette_couleurs" as *
@use "sass:map";

@function police($nom)
{
  @if map.has-key($polices_ecriture, $nom)
    @return map.get($polices_ecriture, $nom);
  @error "La police '#{$nom}' n'existe pas dans la map $polices_ecriture.";
}

$polices_ecriture:
(
	txt-titre:    ('Monserrat', serif),
	txt-body:     ('Sarabun', sans-serif),
	txt-dys:      ("OpenDyslexic", sans-serif),
)

// ╭─╮╭─╮╷  ╭─╴╶┬╴╶┬╴╭─╴   ╭─╮╷╶┬╴╭─╴
// ├─╯├─┤│  ├╴  │  │ ├╴    ╰─╮│ │ ├╴ 
// ╵  ╵ ╵╰─╴╰─╴ ╵  ╵ ╰─╴   ╰─╯╵ ╵ ╰─╴

$txt-light: 	#FFFFFF
$txt-dark:		#000000

// ────────────────────────────────────────────────────
// FONCTIONS
// ────────────────────────────────────────────────────
//selectionner une couleur parmis un type   
//usage: couleur_palette(<light|dark|action>, <color>)
@function couleur_palette($type, $nom)
{
    @if (($type == light) or ($type == dark))
    {
        @if map.has-key($themes, $type)
        {
            $theme-map: map.get($themes, $type);
            @if map.has-key($theme-map, $nom)
            {
                $color-map: map.get($theme-map, $nom);
                @return map.get($color-map, color);
            }
            @error "La couleur '#{$nom}' n'existe pas dans le thème '#{$type}'.";
        }
    }
	@if ($type == action)
	{
		@if map.has-key($actions, $nom)
		{
			$action-map: map.get($actions, $nom);
			@return map.get($action-map, color);
		}
		@error "L'action '#{$nom}' n'existe pas dans la map '#{$type}'.";
	}
	@error "Le type '#{$type}' n'existe pas. Utilisez 'light', 'dark' ou 'action'.";
}

// ────────────────────────────────────────────────────
// MAP DE DONNEES
// ────────────────────────────────────────────────────
// ─────────────────────────────────────
// PALETTE
// ─────────────────────────────────────
$palette_couleurs
(
    themes:     $themes,
    actions:    $actions,
)


// ─────────────────────────────────────
// THEMES
// ─────────────────────────────────────
//TODO: CHECK ME, DO DARK
$themes
(
    light:
    (
        primary:
        (
            color:			$crm-orange,
            description:	"Orange CRM",
            txt-color:		$txt-light,
        ),
        accent:
        (
            color:			$crm-bleu,
            description:	"Bleu CRM",
            txt-color:		$txt-light,
        ),
        secondary-neutral-light:
        (
            color:			$bg-light-grey,
            description:	"Fond neutre - clair",
            txt-color:		$txt-dark,
        ),
        secondary-neutral-dark:
        (
            color:			$bg-grey,
            description:	"Fond neutre - Foncé",
            txt-color:		$txt-dark,
        ),
        secondary-warm-light:
        (
            color:			$bg-thick-cream,
            description:	"Fond chaud - clair",
            txt-color:		$txt-dark,
        ),
        secondary-warm-dark:
        (
            color:			$bg-light-cream,
            description:	"Fond chaud - foncé",
            txt-color:		$txt-dark,
        )
    ),
    dark:
    (
        primary:
        (
            color:			$crm-orange,
            description:	"Orange CRM",
            txt-color:		$txt-light,
        ),
        accent:
        (
            color:			$crm-bleu,
            description:	"Bleu CRM",
            txt-color:		$txt-light,
        ),
        secondary-neutral-light:
        (
            color:			$bg-light-grey,
            description:	"Fond neutre - clair",
            txt-color:		$txt-dark,
        ),
        secondary-neutral-dark:
        (
            color:			$bg-grey,
            description:	"Fond neutre - Foncé",
            txt-color:		$txt-dark,
        ),
        secondary-warm-light:
        (
            color:			$bg-thick-cream,
            description:	"Fond chaud - clair",
            txt-color:		$txt-dark,
        ),
        secondary-warm-dark:
        (
            color:			$bg-light-cream,
            description:	"Fond chaud - foncé",
            txt-color:		$txt-dark,
        )
    )
)

// ─────────────────────────────────────
// ACTIONS
// ─────────────────────────────────────
$actions:
(
	error:
	(
		color:			$AE-crm-error,
		description:	"ActionEvent erreur",
		txt-color:		$txt-light,
	),
	warning:
	(
		color:			$AE-crm-warning,
		description:	"ActionEvent warning",
		txt-color:		$txt-light,
	),
	info:
	(
		color:			$AE-crm-info,
		description:	"ActionEvent info",
		txt-color:		$txt-light,
	),
	success:
	(	
		color:			$AE-crm-sucess,
		description:	"ActionEvent succès",
		txt-color:		$txt-light,
	),
)

